!!!
html
  head
    title="Where is my Bus?!"
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheets/main.css")
    script(src="/javascripts/jquery.js")
    script(src="https://maps.googleapis.com/maps/api/js?key=#{api_key}&sensor=true")
    script(src="/javascripts/utils.js")
    script(src="/javascripts/server.js")
    script(src="/javascripts/maps.js")
  body
    != yield
