nav.navbar.navbar-inverse
  .navbar-header
    a.navbar-brand Welcome to the Broadcast
.container
  form#broadcast
    .form-group
      input.id.form-control(placeholder="Identifier", required)
    .form-group
      input.b-label.form-control(placeholder="Label", required)
    .form-group
      input.type.form-control(placeholder="Type", required)
    button#start-broadcasting.btn.btn-primary.btn-block Start Broadcasting
  #console-viewer.col-lg-12
    ul