nav.navbar.navbar-inverse
  .navbar-header
    a.navbar-brand Welcome to the Broadcast
.container
  form#broadcast
    .form-group
      input.id.form-control(placeholder="Identifier", required)
    .form-group
      input.b-label.form-control(placeholder="Label", required)
    .form-group
      select.type.form-control(placeholder="Type", required)
        option(value="bus") Bus
        option(value="plane") Plane
        option(value="bicycle") Bicycle
    .form-group
      textarea.info.form-control(placeholder="Content", required)
    button#start-broadcasting.btn.btn-primary.btn-block Start Broadcasting
  #console-viewer.col-lg-12
    ul